openapi: 3.0.3
info:
  title: Final Durable Execution API
  version: "1.0"
  description: REST API for Final Durable Execution.
servers:
  - url: https://api.final.ai
security:
  - bearerAuth: []
tags:
  - name: Namespaces
  - name: Workflows
  - name: Events
  - name: Runs
paths:
  /v1/durable-execution/namespaces/{namespace}/meta:
    get:
      operationId: getDurableNamespaceMeta
      tags: [Namespaces]
      summary: Get namespace metadata
      description: Inspect the resolved namespace scope for the authenticated user-owned API key.
      parameters:
        - $ref: "#/components/parameters/Namespace"
      responses:
        "200":
          description: Namespace metadata was returned.
          content:
            application/json:
              schema:
                type: object
                required: [namespace, organizationId, ownerUserId, teamId]
                properties:
                  namespace:
                    type: string
                  organizationId:
                    type: string
                  ownerUserId:
                    type: string
                    nullable: true
                  teamId:
                    type: string
                    nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/durable-execution/namespaces/{namespace}/workflows:
    get:
      operationId: listDurableWorkflows
      tags: [Workflows]
      summary: List workflows
      description: List workflow versions registered for the namespace.
      parameters:
        - $ref: "#/components/parameters/Namespace"
      responses:
        "200":
          description: Workflows were returned.
          content:
            application/json:
              schema:
                type: object
                required: [workflows]
                properties:
                  workflows:
                    type: array
                    items:
                      $ref: "#/components/schemas/Workflow"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: registerDurableWorkflow
      tags: [Workflows]
      summary: Register a workflow
      description: Register or update a durable workflow version. New workflow registrations use the WebSocket worker runtime.
      parameters:
        - $ref: "#/components/parameters/Namespace"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterWorkflowRequest"
      responses:
        "201":
          description: Workflow was registered.
          content:
            application/json:
              schema:
                type: object
                required: [workflow]
                properties:
                  workflow:
                    $ref: "#/components/schemas/Workflow"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/Unavailable"
  /v1/durable-execution/namespaces/{namespace}/events:
    post:
      operationId: sendDurableEvents
      tags: [Events]
      summary: Send events
      description: Send one event or a batch of events. Matching triggers schedule new runs; matching waits resume existing runs.
      parameters:
        - $ref: "#/components/parameters/Namespace"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/Event"
                - type: array
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/Event"
      responses:
        "202":
          description: Event or events were accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendEventsResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/durable-execution/namespaces/{namespace}/workflows/{workflowKey}/runs:
    post:
      operationId: triggerDurableWorkflowRun
      tags: [Runs]
      summary: Trigger a workflow run
      description: Start one run for a workflow directly.
      parameters:
        - $ref: "#/components/parameters/Namespace"
        - $ref: "#/components/parameters/WorkflowKey"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TriggerRunRequest"
      responses:
        "201":
          description: Run was created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunEnvelope"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/durable-execution/namespaces/{namespace}/runs/{runId}:
    get:
      operationId: getDurableRun
      tags: [Runs]
      summary: Get a run
      description: Get the current state of a durable execution run.
      parameters:
        - $ref: "#/components/parameters/Namespace"
        - $ref: "#/components/parameters/RunId"
      responses:
        "200":
          description: Run was returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/durable-execution/namespaces/{namespace}/runs/{runId}/history:
    get:
      operationId: listDurableRunHistory
      tags: [Runs]
      summary: List run history
      description: List ordered history records for a run.
      parameters:
        - $ref: "#/components/parameters/Namespace"
        - $ref: "#/components/parameters/RunId"
      responses:
        "200":
          description: Run history was returned.
          content:
            application/json:
              schema:
                type: object
                required: [history]
                properties:
                  history:
                    type: array
                    items:
                      $ref: "#/components/schemas/RunHistoryRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/durable-execution/namespaces/{namespace}/runs/{runId}/cancel:
    post:
      operationId: cancelDurableRun
      tags: [Runs]
      summary: Cancel a run
      description: Cancel a durable execution run.
      parameters:
        - $ref: "#/components/parameters/Namespace"
        - $ref: "#/components/parameters/RunId"
      responses:
        "200":
          description: Run was cancelled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/durable-execution/namespaces/{namespace}/runs/{runId}/retry:
    post:
      operationId: retryDurableRun
      tags: [Runs]
      summary: Retry a run
      description: Retry a terminal durable execution run.
      parameters:
        - $ref: "#/components/parameters/Namespace"
        - $ref: "#/components/parameters/RunId"
      responses:
        "202":
          description: Run retry was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/durable-execution/namespaces/{namespace}/runs/{runId}/signals:
    post:
      operationId: signalDurableRun
      tags: [Runs]
      summary: Signal a run
      description: Send a signal payload to a waiting run.
      parameters:
        - $ref: "#/components/parameters/Namespace"
        - $ref: "#/components/parameters/RunId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignalRunRequest"
      responses:
        "202":
          description: Signal was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunEnvelope"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: User-owned API key.
  parameters:
    Namespace:
      name: namespace
      in: path
      required: true
      description: Durable namespace.
      schema:
        type: string
        example: billing
    WorkflowKey:
      name: workflowKey
      in: path
      required: true
      description: Durable workflow key.
      schema:
        type: string
        example: send-receipt
    RunId:
      name: runId
      in: path
      required: true
      description: Durable run ID.
      schema:
        type: string
        example: run_123
  responses:
    Unauthorized:
      description: API key or session is missing or invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InvalidRequest:
      description: Request body, path, or headers are invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unavailable:
      description: Durable execution is not configured or unavailable.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error:
      description: Request failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Error:
      type: object
      required: [error, status]
      properties:
        error:
          type: string
        status:
          type: integer
        details:
          type: array
          items:
            type: object
            additionalProperties: true
    Workflow:
      type: object
      required:
        - workflowKey
        - version
        - displayName
        - runtime
        - triggers
        - concurrency
        - retryPolicy
        - metadata
        - registeredAt
      properties:
        workflowKey:
          type: string
        version:
          type: string
        displayName:
          type: string
        runtime:
          $ref: "#/components/schemas/Runtime"
        triggers:
          type: array
          items:
            $ref: "#/components/schemas/Trigger"
        concurrency:
          type: array
          items:
            type: object
            additionalProperties: true
        retryPolicy:
          $ref: "#/components/schemas/RetryPolicy"
        metadata:
          type: object
          additionalProperties: true
        registeredAt:
          type: string
          format: date-time
    RegisterWorkflowRequest:
      type: object
      required: [workflowKey, version, displayName, runtime]
      properties:
        workflowKey:
          type: string
        version:
          type: string
        displayName:
          type: string
        runtime:
          $ref: "#/components/schemas/Runtime"
        triggers:
          type: array
          default: []
          items:
            $ref: "#/components/schemas/Trigger"
        concurrency:
          type: array
          default: []
          items:
            type: object
            additionalProperties: true
        retryPolicy:
          $ref: "#/components/schemas/RetryPolicy"
        metadata:
          type: object
          default: {}
          additionalProperties: true
    Runtime:
      type: object
      required: [transport, gatewayUrl, queue]
      properties:
        transport:
          type: string
          enum: [websocket]
          default: websocket
        gatewayUrl:
          type: string
          format: uri
          example: wss://gateway.final.ai/connect
        queue:
          type: string
          example: durable-execution:billing
    Trigger:
      oneOf:
        - $ref: "#/components/schemas/EventTrigger"
        - $ref: "#/components/schemas/CronTrigger"
    EventTrigger:
      type: object
      required: [kind, eventName]
      properties:
        kind:
          type: string
          enum: [event]
        eventName:
          type: string
          example: invoice.paid
        expression:
          type: string
          nullable: true
          default: null
    CronTrigger:
      type: object
      required: [kind, cron]
      properties:
        kind:
          type: string
          enum: [cron]
        cron:
          type: string
          example: "0 9 * * *"
    RetryPolicy:
      type: object
      properties:
        limit:
          type: integer
          minimum: 1
          default: 3
        maxDelayMs:
          type: integer
          minimum: 0
          default: 60000
        minDelayMs:
          type: integer
          minimum: 0
          default: 1000
        strategy:
          type: string
          enum: [exponential]
          default: exponential
    Event:
      type: object
      required: [name]
      properties:
        id:
          type: string
          nullable: true
          description: Stable event ID used as the idempotency key. Generated when omitted.
        name:
          type: string
          example: invoice.paid
        data:
          type: object
          default: {}
          additionalProperties: true
    SendEventsResponse:
      type: object
      required: [ids, scheduledRunIds, resumedRunIds]
      properties:
        ids:
          type: array
          items:
            type: string
        scheduledRunIds:
          type: array
          items:
            type: string
        resumedRunIds:
          type: array
          items:
            type: string
    TriggerRunRequest:
      type: object
      properties:
        event:
          type: object
          properties:
            id:
              type: string
              nullable: true
            name:
              type: string
              default: workflow.triggered
            data:
              type: object
              default: {}
              additionalProperties: true
        idempotencyKey:
          type: string
          nullable: true
        metadata:
          type: object
          default: {}
          additionalProperties: true
        version:
          type: string
          nullable: true
          description: Specific workflow version to run. Latest matching version is used when omitted.
    RunEnvelope:
      type: object
      required: [run]
      properties:
        run:
          $ref: "#/components/schemas/Run"
    Run:
      type: object
      required: [runId, status]
      properties:
        runId:
          type: string
        workflowKey:
          type: string
        workflowVersion:
          type: string
        status:
          type: string
          enum: [queued, running, waiting, completed, failed, cancelled]
        idempotencyKey:
          type: string
          nullable: true
        triggerEvent:
          $ref: "#/components/schemas/TriggerEvent"
        attempt:
          type: integer
        maxAttempts:
          type: integer
        result:
          nullable: true
        error:
          nullable: true
          $ref: "#/components/schemas/ExecutionError"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
          nullable: true
        finishedAt:
          type: string
          format: date-time
          nullable: true
        metadata:
          type: object
          additionalProperties: true
    TriggerEvent:
      type: object
      properties:
        eventId:
          type: string
        name:
          type: string
        payload:
          type: object
          additionalProperties: true
        receivedAt:
          type: string
          format: date-time
    ExecutionError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        retryable:
          type: boolean
        details:
          type: object
          additionalProperties: true
    RunHistoryRecord:
      type: object
      required: [historyId, runId, sequenceNumber, type, stepId, payload, createdAt]
      properties:
        historyId:
          type: string
        runId:
          type: string
        sequenceNumber:
          type: integer
        type:
          type: string
          enum:
            - queued
            - leased
            - step_completed
            - waiting
            - resumed
            - pause_timed_out
            - retry_scheduled
            - completed
            - failed
            - cancelled
            - signal_received
        stepId:
          type: string
          nullable: true
        payload:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
    SignalRunRequest:
      type: object
      required: [payload]
      properties:
        stepId:
          type: string
          nullable: true
        payload:
          type: object
          additionalProperties: true
