openapi: 3.0.3
info:
  title: Final API
  version: "1.0"
  description: REST API for Final platform features.
servers:
  - url: https://api.final.ai
security:
  - bearerAuth: []
tags:
  - name: API keys
  - name: Agent workspaces
  - name: Agent sessions
  - name: Agent messages
  - name: Repositories
  - name: Pull requests
  - name: Merge queues
  - name: Checks
paths:
  /v1/api-keys:
    post:
      operationId: createApiKey
      tags: [API keys]
      summary: Create an API key
      description: "Create an organization API key. The caller must use an organization-owned API key with the `api_keys:write` permission. Requested permissions cannot exceed the caller key's permissions."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "201":
          description: API key was created.
          content:
            application/json:
              schema:
                type: object
                required: [apiKey]
                properties:
                  apiKey:
                    $ref: "#/components/schemas/ApiKey"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Error"
        "502":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
  /v1/agent-workspaces:
    get:
      operationId: listAgentWorkspaces
      tags: [Agent workspaces]
      summary: List agent workspaces
      description: List active agent workspaces visible to the authenticated API key.
      parameters:
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Agent workspaces were returned.
          content:
            application/json:
              schema:
                type: object
                required: [workspaces]
                properties:
                  workspaces:
                    type: array
                    items:
                      $ref: "#/components/schemas/AgentWorkspace"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createAgentWorkspace
      tags: [Agent workspaces]
      summary: Create an agent workspace
      description: "Create an agent workspace and its main session. Organization-owned API keys must provide `agentProfileId`."
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
        - name: expand
          in: query
          required: false
          description: Optional expansion forwarded to the workspace service.
          schema:
            type: string
            example: mainSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentWorkspaceRequest"
      responses:
        "201":
          description: Agent workspace was created.
          content:
            application/json:
              schema:
                type: object
                required: [workspace, session]
                properties:
                  workspace:
                    $ref: "#/components/schemas/AgentWorkspace"
                  session:
                    $ref: "#/components/schemas/AgentSession"
                  command:
                    type: object
                    nullable: true
                    additionalProperties: true
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
        "412":
          $ref: "#/components/responses/Error"
  /v1/agent-workspaces/{workspaceId}:
    parameters:
      - $ref: "#/components/parameters/AgentWorkspaceId"
    get:
      operationId: getAgentWorkspace
      tags: [Agent workspaces]
      summary: Get an agent workspace
      responses:
        "200":
          description: Agent workspace was returned.
          content:
            application/json:
              schema:
                type: object
                required: [workspace]
                properties:
                  workspace:
                    $ref: "#/components/schemas/AgentWorkspace"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      operationId: updateAgentWorkspace
      tags: [Agent workspaces]
      summary: Update an agent workspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAgentWorkspaceRequest"
      responses:
        "200":
          description: Agent workspace was updated.
          content:
            application/json:
              schema:
                type: object
                required: [workspace]
                properties:
                  workspace:
                    $ref: "#/components/schemas/AgentWorkspace"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/agent-workspaces/{workspaceId}/archive:
    post:
      operationId: archiveAgentWorkspace
      tags: [Agent workspaces]
      summary: Archive an agent workspace
      parameters:
        - $ref: "#/components/parameters/AgentWorkspaceId"
      responses:
        "200":
          description: Agent workspace was archived.
          content:
            application/json:
              schema:
                type: object
                required: [archived]
                properties:
                  archived:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/agent-workspaces/{workspaceId}/sessions:
    get:
      operationId: listAgentWorkspaceSessions
      tags: [Agent sessions]
      summary: List workspace sessions
      parameters:
        - $ref: "#/components/parameters/AgentWorkspaceId"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Sessions were returned.
          content:
            application/json:
              schema:
                type: object
                required: [sessions]
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: "#/components/schemas/AgentSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
    post:
      operationId: createAgentWorkspaceSession
      tags: [Agent sessions]
      summary: Create a workspace session
      parameters:
        - $ref: "#/components/parameters/AgentWorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentSessionRequest"
      responses:
        "201":
          description: Session was created.
          content:
            application/json:
              schema:
                type: object
                required: [session]
                properties:
                  session:
                    $ref: "#/components/schemas/AgentSession"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/agent-workspaces/{workspaceId}/sessions/{sessionId}:
    parameters:
      - $ref: "#/components/parameters/AgentWorkspaceId"
      - $ref: "#/components/parameters/AgentSessionId"
    get:
      operationId: getAgentWorkspaceSession
      tags: [Agent sessions]
      summary: Get a workspace session
      responses:
        "200":
          description: Session was returned.
          content:
            application/json:
              schema:
                type: object
                required: [session]
                properties:
                  session:
                    $ref: "#/components/schemas/AgentSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      operationId: updateAgentWorkspaceSession
      tags: [Agent sessions]
      summary: Update a workspace session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAgentSessionRequest"
      responses:
        "200":
          description: Session was updated.
          content:
            application/json:
              schema:
                type: object
                required: [session]
                properties:
                  session:
                    $ref: "#/components/schemas/AgentSession"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/agent-workspaces/{workspaceId}/sessions/{sessionId}/archive:
    post:
      operationId: archiveAgentWorkspaceSession
      tags: [Agent sessions]
      summary: Archive a workspace session
      parameters:
        - $ref: "#/components/parameters/AgentWorkspaceId"
        - $ref: "#/components/parameters/AgentSessionId"
      responses:
        "200":
          description: Session was archived.
          content:
            application/json:
              schema:
                type: object
                required: [archived]
                properties:
                  archived:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/agent-workspaces/{workspaceId}/sessions/{sessionId}/messages:
    get:
      operationId: listAgentWorkspaceSessionMessages
      tags: [Agent messages]
      summary: List session messages
      parameters:
        - $ref: "#/components/parameters/AgentWorkspaceId"
        - $ref: "#/components/parameters/AgentSessionId"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Messages were returned.
          content:
            application/json:
              schema:
                type: object
                required: [messages, cursor]
                properties:
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/AgentMessage"
                  cursor:
                    type: string
                    nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
    post:
      operationId: sendAgentWorkspaceSessionMessage
      tags: [Agent messages]
      summary: Send a session message
      parameters:
        - $ref: "#/components/parameters/AgentWorkspaceId"
        - $ref: "#/components/parameters/AgentSessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendAgentMessageRequest"
      responses:
        "200":
          description: Message command was accepted.
          content:
            application/json:
              schema:
                type: object
                required: [command]
                properties:
                  command:
                    type: object
                    additionalProperties: true
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/agent-workspaces/{workspaceId}/sessions/{sessionId}/state:
    get:
      operationId: getAgentWorkspaceSessionState
      tags: [Agent sessions]
      summary: Get session state
      parameters:
        - $ref: "#/components/parameters/AgentWorkspaceId"
        - $ref: "#/components/parameters/AgentSessionId"
      responses:
        "200":
          description: Session state was returned.
          content:
            application/json:
              schema:
                type: object
                required: [state]
                properties:
                  state:
                    $ref: "#/components/schemas/AgentSessionState"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/agent-workspaces/{workspaceId}/sessions/{sessionId}/stop:
    post:
      operationId: stopAgentWorkspaceSession
      tags: [Agent sessions]
      summary: Stop a running session
      parameters:
        - $ref: "#/components/parameters/AgentWorkspaceId"
        - $ref: "#/components/parameters/AgentSessionId"
      responses:
        "200":
          description: Session stop was requested.
          content:
            application/json:
              schema:
                type: object
                required: [stopped, commandId]
                properties:
                  stopped:
                    type: boolean
                  commandId:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /api/file-systems:
    get:
      operationId: listFileSystems
      tags: [Repositories]
      summary: List repositories
      description: List Git-backed file systems available to the authenticated user.
      parameters:
        - name: deviceId
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Repositories were returned.
          content:
            application/json:
              schema:
                type: object
                required: [fileSystems]
                properties:
                  fileSystems:
                    type: array
                    items:
                      $ref: "#/components/schemas/FileSystem"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createFileSystem
      tags: [Repositories]
      summary: Create a repository
      description: Create a Git-backed file system.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFileSystemRequest"
      responses:
        "201":
          description: Repository was created.
          content:
            application/json:
              schema:
                type: object
                required: [fileSystem]
                properties:
                  fileSystem:
                    $ref: "#/components/schemas/FileSystem"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/file-systems/{fileSystemId}:
    get:
      operationId: getFileSystem
      tags: [Repositories]
      summary: Get a repository
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      responses:
        "200":
          description: Repository was returned.
          content:
            application/json:
              schema:
                type: object
                required: [fileSystem]
                properties:
                  fileSystem:
                    $ref: "#/components/schemas/FileSystem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      operationId: deleteFileSystem
      tags: [Repositories]
      summary: Delete a repository
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      responses:
        "200":
          description: Repository was deleted.
          content:
            application/json:
              schema:
                type: object
                required: [deleted]
                properties:
                  deleted:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /api/file-systems/{fileSystemId}/archive:
    post:
      operationId: archiveFileSystem
      tags: [Repositories]
      summary: Archive a repository
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      responses:
        "200":
          description: Repository was archived.
          content:
            application/json:
              schema:
                type: object
                required: [archived]
                properties:
                  archived:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /api/file-systems/{fileSystemId}/git-credentials:
    post:
      operationId: mintGitCredentials
      tags: [Repositories]
      summary: Mint Git credentials
      description: Mint short-lived HTTPS Git credentials for clone, fetch, and push workflows.
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                access:
                  type: string
                  enum: [read, write]
                  default: read
      responses:
        "200":
          description: Git credentials were minted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GitCredentials"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /api/file-systems/{fileSystemId}/pull-requests:
    get:
      operationId: listPullRequests
      tags: [Pull requests]
      summary: List pull requests
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      responses:
        "200":
          description: Pull requests were returned.
          content:
            application/json:
              schema:
                type: object
                required: [pullRequests]
                properties:
                  pullRequests:
                    type: array
                    items:
                      $ref: "#/components/schemas/PullRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createPullRequest
      tags: [Pull requests]
      summary: Create a pull request
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePullRequestRequest"
      responses:
        "201":
          description: Pull request was created.
          content:
            application/json:
              schema:
                type: object
                required: [pullRequest]
                properties:
                  pullRequest:
                    $ref: "#/components/schemas/PullRequest"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "409":
          $ref: "#/components/responses/Error"
  /api/file-systems/{fileSystemId}/pull-requests/{pullRequestNumber}:
    get:
      operationId: getPullRequest
      tags: [Pull requests]
      summary: Get a pull request
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/PullRequestNumber"
      responses:
        "200":
          description: Pull request details were returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PullRequestDetail"
        "404":
          $ref: "#/components/responses/Error"
  /api/file-systems/{fileSystemId}/pull-requests/{pullRequestNumber}/diff:
    get:
      operationId: getPullRequestDiff
      tags: [Pull requests]
      summary: Get a pull request diff
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/PullRequestNumber"
        - name: maxBytes
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1048576
      responses:
        "200":
          description: Pull request diff was returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PullRequestDiff"
        "404":
          $ref: "#/components/responses/Error"
  /api/file-systems/{fileSystemId}/pull-requests/{pullRequestId}:
    patch:
      operationId: updatePullRequest
      tags: [Pull requests]
      summary: Update a pull request
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/PullRequestId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePullRequestRequest"
      responses:
        "200":
          description: Pull request was updated.
          content:
            application/json:
              schema:
                type: object
                required: [pullRequest]
                properties:
                  pullRequest:
                    $ref: "#/components/schemas/PullRequest"
        "409":
          $ref: "#/components/responses/Error"
  /api/file-systems/{fileSystemId}/pull-requests/{pullRequestId}/parent:
    post:
      operationId: setPullRequestParent
      tags: [Pull requests]
      summary: Set pull request parent
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/PullRequestId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [parentPullRequestId]
              properties:
                parentPullRequestId:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Pull request parent was updated.
          content:
            application/json:
              schema:
                type: object
                required: [pullRequest]
                properties:
                  pullRequest:
                    $ref: "#/components/schemas/PullRequest"
        "409":
          $ref: "#/components/responses/Error"
  /api/file-systems/{fileSystemId}/pull-requests/{pullRequestId}/detach:
    post:
      operationId: detachPullRequest
      tags: [Pull requests]
      summary: Detach a pull request
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/PullRequestId"
      responses:
        "200":
          description: Pull request was detached.
          content:
            application/json:
              schema:
                type: object
                required: [pullRequest]
                properties:
                  pullRequest:
                    $ref: "#/components/schemas/PullRequest"
  /api/file-systems/{fileSystemId}/pull-requests/{pullRequestId}/reviews:
    post:
      operationId: createPullRequestReview
      tags: [Pull requests]
      summary: Create a pull request review
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/PullRequestId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                state:
                  type: string
                  enum: [approved, commented, changes_requested]
                body:
                  type: string
                  maxLength: 10000
                  default: ""
      responses:
        "201":
          description: Review was created.
          content:
            application/json:
              schema:
                type: object
                required: [review]
                properties:
                  review:
                    $ref: "#/components/schemas/PullRequestReview"
  /api/file-systems/{fileSystemId}/pull-requests/{pullRequestId}/stack/repair:
    post:
      operationId: repairPullRequestStack
      tags: [Pull requests]
      summary: Repair a pull request stack
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/PullRequestId"
      responses:
        "200":
          $ref: "#/components/responses/PullRequestList"
  /api/file-systems/{fileSystemId}/pull-requests/{pullRequestId}/stack/split:
    post:
      operationId: splitPullRequestStack
      tags: [Pull requests]
      summary: Split a pull request stack
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/PullRequestId"
      responses:
        "200":
          $ref: "#/components/responses/PullRequestList"
  /api/file-systems/{fileSystemId}/pull-requests/stack/reorder:
    post:
      operationId: reorderPullRequestStack
      tags: [Pull requests]
      summary: Reorder a pull request stack
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pullRequestIds]
              properties:
                pullRequestIds:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: string
      responses:
        "200":
          $ref: "#/components/responses/PullRequestList"
  /api/file-systems/{fileSystemId}/commit-statuses:
    post:
      operationId: createCommitStatus
      tags: [Checks]
      summary: Create a commit status
      description: Report CI status for a commit SHA. Merge queues require statuses on the candidate SHA.
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCommitStatusRequest"
      responses:
        "201":
          description: Commit status was created.
          content:
            application/json:
              schema:
                type: object
                required: [commitStatus]
                properties:
                  commitStatus:
                    $ref: "#/components/schemas/CommitStatus"
  /api/file-systems/{fileSystemId}/check-runs:
    post:
      operationId: createCheckRun
      tags: [Checks]
      summary: Create a check run
      description: Report a CI check run for a commit SHA. Merge queues require checks on the candidate SHA.
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCheckRunRequest"
      responses:
        "201":
          description: Check run was created.
          content:
            application/json:
              schema:
                type: object
                required: [checkRun]
                properties:
                  checkRun:
                    $ref: "#/components/schemas/CheckRun"
  /api/file-systems/{fileSystemId}/merge-queues:
    get:
      operationId: listMergeQueues
      tags: [Merge queues]
      summary: List merge queues
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      responses:
        "200":
          description: Merge queues were returned.
          content:
            application/json:
              schema:
                type: object
                required: [mergeQueues]
                properties:
                  mergeQueues:
                    type: array
                    items:
                      $ref: "#/components/schemas/MergeQueue"
    put:
      operationId: configureMergeQueue
      tags: [Merge queues]
      summary: Create or update a merge queue
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigureMergeQueueRequest"
      responses:
        "200":
          description: Merge queue was created or updated.
          content:
            application/json:
              schema:
                type: object
                required: [mergeQueue]
                properties:
                  mergeQueue:
                    $ref: "#/components/schemas/MergeQueue"
  /api/file-systems/{fileSystemId}/merge-queues/{queueId}/entries:
    get:
      operationId: listMergeQueueEntries
      tags: [Merge queues]
      summary: List merge queue entries
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/QueueId"
      responses:
        "200":
          description: Merge queue entries were returned.
          content:
            application/json:
              schema:
                type: object
                required: [entries]
                properties:
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/MergeQueueEntry"
  /api/file-systems/{fileSystemId}/merge-queues/{queueId}/attempts:
    get:
      operationId: listMergeQueueAttempts
      tags: [Merge queues]
      summary: List merge queue attempts
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/QueueId"
        - name: entryId
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Merge queue attempts were returned.
          content:
            application/json:
              schema:
                type: object
                required: [attempts]
                properties:
                  attempts:
                    type: array
                    items:
                      $ref: "#/components/schemas/MergeQueueAttempt"
  /api/file-systems/{fileSystemId}/merge-queues/{queueId}/activity:
    get:
      operationId: listMergeQueueActivity
      tags: [Merge queues]
      summary: List merge queue activity
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/QueueId"
      responses:
        "200":
          description: Merge queue activity was returned.
          content:
            application/json:
              schema:
                type: object
                required: [events]
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/MergeQueueEvent"
  /api/file-systems/{fileSystemId}/merge-queues/enqueue:
    post:
      operationId: enqueuePullRequest
      tags: [Merge queues]
      summary: Enqueue a pull request
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnqueuePullRequestRequest"
      responses:
        "201":
          description: Pull request was enqueued.
          content:
            application/json:
              schema:
                type: object
                required: [entry]
                properties:
                  entry:
                    $ref: "#/components/schemas/MergeQueueEntry"
        "409":
          $ref: "#/components/responses/Error"
  /api/file-systems/{fileSystemId}/merge-queues/entries/{entryId}/dequeue:
    post:
      operationId: dequeueMergeQueueEntry
      tags: [Merge queues]
      summary: Dequeue a merge queue entry
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/EntryId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 1
                  maxLength: 500
      responses:
        "200":
          description: Queue entry was dequeued.
          content:
            application/json:
              schema:
                type: object
                required: [entry]
                properties:
                  entry:
                    $ref: "#/components/schemas/MergeQueueEntry"
  /api/file-systems/{fileSystemId}/merge-queues/entries/{entryId}:
    patch:
      operationId: updateMergeQueueEntry
      tags: [Merge queues]
      summary: Update a merge queue entry
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
        - $ref: "#/components/parameters/EntryId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                priority:
                  type: integer
                fastTrack:
                  type: boolean
      responses:
        "200":
          description: Queue entry was updated.
          content:
            application/json:
              schema:
                type: object
                required: [entry]
                properties:
                  entry:
                    $ref: "#/components/schemas/MergeQueueEntry"
  /api/file-systems/{fileSystemId}/merge-queues/entries/reorder:
    post:
      operationId: reorderMergeQueueEntries
      tags: [Merge queues]
      summary: Reorder merge queue entries
      parameters:
        - $ref: "#/components/parameters/FileSystemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [queueId, entryIds]
              properties:
                queueId:
                  type: string
                entryIds:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: string
      responses:
        "200":
          description: Queue entries were reordered.
          content:
            application/json:
              schema:
                type: object
                required: [entries]
                properties:
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/MergeQueueEntry"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Final access token or API key.
  parameters:
    FileSystemId:
      name: fileSystemId
      in: path
      required: true
      schema:
        type: string
      description: Encoded file system ID.
    PullRequestId:
      name: pullRequestId
      in: path
      required: true
      schema:
        type: string
      description: Pull request ID.
    PullRequestNumber:
      name: pullRequestNumber
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
      description: Pull request number.
    QueueId:
      name: queueId
      in: path
      required: true
      schema:
        type: string
      description: Merge queue ID.
    EntryId:
      name: entryId
      in: path
      required: true
      schema:
        type: string
      description: Merge queue entry ID.
    AgentWorkspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: string
      description: Encoded agent workspace ID.
    AgentSessionId:
      name: sessionId
      in: path
      required: true
      schema:
        type: string
      description: Encoded agent session ID.
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Cursor returned by the previous page.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
      description: Maximum number of records to return.
  responses:
    Error:
      description: Request failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InvalidRequest:
      description: Request validation failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/InvalidRequest"
    Unauthorized:
      description: Access token is missing or invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    PullRequestList:
      description: Pull requests were returned.
      content:
        application/json:
          schema:
            type: object
            required: [pullRequests]
            properties:
              pullRequests:
                type: array
                items:
                  $ref: "#/components/schemas/PullRequest"
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
    InvalidRequest:
      type: object
      required: [error, issues]
      properties:
        error:
          type: string
        issues:
          type: array
          items:
            type: object
            additionalProperties: true
    ApiKey:
      type: object
      required:
        - id
        - name
        - obfuscatedValue
        - permissions
        - owner
        - lastUsedAt
        - expiresAt
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          example: api_key_new
        name:
          type: string
          example: CI deploy
        obfuscatedValue:
          type: string
          example: sk_...new
        value:
          type: string
          nullable: true
          description: Plaintext API key value. Returned only when the key is created.
          example: sk_live_new
        permissions:
          type: array
          items:
            type: string
          example: ["apps:read"]
        owner:
          type: object
          required: [type, id]
          properties:
            type:
              type: string
              enum: [organization]
            id:
              type: string
              example: org_01HZY...
        lastUsedAt:
          type: string
          format: date-time
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreateApiKeyRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
          example: CI deploy
        permissions:
          type: array
          maxItems: 100
          default: []
          items:
            type: string
          description: Permissions for the new key. These cannot exceed the caller key's permissions.
          example: ["apps:read"]
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: "Expiration time for the key. Omit or pass `null` for no expiration."
    AgentWorkspace:
      type: object
      required:
        - id
        - title
        - mainSessionId
        - workspaceKind
        - fileSystemId
        - finalNodeId
        - workspaceDir
        - metadata
        - archivedAt
        - createdAt
        - updatedAt
        - lastActivityAt
      properties:
        id:
          type: string
          example: agw_123
        title:
          type: string
          nullable: true
        mainSessionId:
          type: string
          example: ags_123
        workspaceKind:
          type: integer
          enum: [0, 1, 2]
          description: "`0` unknown, `1` main, `2` ticket."
        fileSystemId:
          type: string
          nullable: true
        finalNodeId:
          type: string
          nullable: true
        workspaceDir:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        archivedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        lastActivityAt:
          type: string
          format: date-time
    AgentSession:
      type: object
      required:
        - id
        - workspaceId
        - title
        - provider
        - modelId
        - effortLevel
        - permissionMode
        - status
        - lastError
        - agentProfileId
        - metadata
        - createdAt
        - updatedAt
        - lastActivityAt
      properties:
        id:
          type: string
          example: ags_123
        workspaceId:
          type: string
          nullable: true
          example: agw_123
        title:
          type: string
          nullable: true
        provider:
          type: integer
          enum: [0, 1, 2, 3]
          description: "`0` unknown, `1` Claude, `2` Codex, `3` Pi."
        modelId:
          type: string
          example: gpt-5
        effortLevel:
          type: string
          example: high
        permissionMode:
          type: string
          example: full-access
        status:
          type: integer
          enum: [0, 1, 2, 3, 4]
          description: "`0` unknown, `1` idle, `2` running, `3` failed, `4` provisioning."
        lastError:
          type: string
          nullable: true
        agentProfileId:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        lastActivityAt:
          type: string
          format: date-time
    CreateAgentWorkspaceRequest:
      type: object
      properties:
        agentProfileId:
          type: string
          description: Agent profile to run as. Required for organization-owned API keys.
          example: agp_123
        title:
          type: string
          nullable: true
        fileSystemId:
          type: string
          nullable: true
          description: File system to mount into the workspace.
        workspaceDir:
          type: string
          nullable: true
          description: Directory where the agent should start.
        finalNodeType:
          type: integer
          enum: [0, 1, 2, 3]
          description: "`1` local, `2` dedicated cloud, `3` on-demand cloud."
        message:
          type: string
          description: Optional first user message to submit after the workspace is created.
          example: Start work
    CreateAgentSessionRequest:
      type: object
      properties:
        agentProfileId:
          type: string
          description: Agent profile to use for runtime defaults. Required for organization-owned API keys.
          example: agp_123
        title:
          type: string
          nullable: true
        workspaceDir:
          type: string
          nullable: true
          description: Directory where the agent should start.
        finalNodeType:
          type: integer
          enum: [0, 1, 2, 3]
          description: "`1` local, `2` dedicated cloud, `3` on-demand cloud."
    UpdateAgentWorkspaceRequest:
      type: object
      properties:
        title:
          type: string
          nullable: true
    UpdateAgentSessionRequest:
      type: object
      properties:
        title:
          type: string
          nullable: true
        modelId:
          type: string
        effortLevel:
          type: string
        permissionMode:
          type: string
    AgentMessage:
      type: object
      required: [id, sessionId, role, type, text, createdAt]
      properties:
        id:
          type: string
        sessionId:
          type: string
        role:
          type: string
          enum: [user, assistant]
        type:
          type: string
          enum: [message, event]
        text:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    SendAgentMessageRequest:
      type: object
      required: [message]
      properties:
        message:
          type: string
          minLength: 1
          example: Please inspect the failing tests.
        commandId:
          type: string
          format: uuid
          description: Optional idempotency key for the command.
    AgentSessionState:
      type: object
      required: [status, running, blocked, error, latestMessageCursor, pollAfterMs]
      properties:
        status:
          type: integer
          enum: [0, 1, 2, 3, 4]
        running:
          type: boolean
        blocked:
          type: boolean
        error:
          type: string
          nullable: true
        latestMessageCursor:
          type: string
          nullable: true
        pollAfterMs:
          type: integer
          example: 1000
    FileSystem:
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
        displayName:
          type: string
        registrySlug:
          type: string
        defaultBranch:
          type: string
        config:
          type: object
          additionalProperties: true
        capabilities:
          type: object
          additionalProperties: true
    CreateFileSystemRequest:
      type: object
      required: [displayName]
      properties:
        registrySlug:
          type: string
          maxLength: 120
        displayName:
          type: string
          maxLength: 120
        family:
          type: string
          enum: [versioned_fs]
        defaultBranch:
          type: string
        grants:
          type: array
          items:
            type: object
            additionalProperties: true
    GitCredentials:
      type: object
      required: [repoId, repoPath, remoteUrl, defaultBranch, username, password, expiresAt]
      properties:
        repoId:
          type: string
        repoPath:
          type: string
        remoteUrl:
          type: string
          format: uri
        defaultBranch:
          type: string
        username:
          type: string
        password:
          type: string
        expiresAt:
          type: string
          format: date-time
    PullRequest:
      type: object
      required:
        - pullRequestId
        - number
        - sourceBranch
        - targetBranch
        - headSha
        - baseSha
        - title
        - body
        - draft
        - state
        - parentPullRequestId
        - stackRootPullRequestId
        - stackPosition
        - restackState
        - mergeWhenReady
      properties:
        pullRequestId:
          type: string
        number:
          type: integer
        sourceBranch:
          type: string
        targetBranch:
          type: string
        headSha:
          type: string
        baseSha:
          type: string
        title:
          type: string
        body:
          type: string
        draft:
          type: boolean
        state:
          type: string
        parentPullRequestId:
          type: string
          nullable: true
        stackRootPullRequestId:
          type: string
        stackPosition:
          type: integer
        restackState:
          type: string
        mergeWhenReady:
          type: boolean
    CreatePullRequestRequest:
      type: object
      required: [sourceBranch, targetBranch, title]
      properties:
        sourceBranch:
          type: string
          maxLength: 255
        targetBranch:
          type: string
          maxLength: 255
        title:
          type: string
          maxLength: 500
        body:
          type: string
          maxLength: 50000
          default: ""
        draft:
          type: boolean
          default: false
        parentPullRequestId:
          type: string
          nullable: true
    UpdatePullRequestRequest:
      type: object
      properties:
        title:
          type: string
          maxLength: 500
        body:
          type: string
        draft:
          type: boolean
        state:
          type: string
          enum: [open, closed, merged]
        mergeWhenReady:
          type: boolean
    PullRequestReview:
      type: object
      additionalProperties: true
      properties:
        reviewId:
          type: string
        pullRequestId:
          type: string
        actor:
          type: string
        state:
          type: string
        body:
          type: string
        commitSha:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CommitStatus:
      type: object
      required: [statusId, sha, context, state]
      properties:
        statusId:
          type: string
        sha:
          type: string
        context:
          type: string
        state:
          type: string
        description:
          type: string
          nullable: true
        targetUrl:
          type: string
          nullable: true
        externalId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CheckRun:
      type: object
      required: [checkRunId, sha, name, status]
      properties:
        checkRunId:
          type: string
        sha:
          type: string
        name:
          type: string
        status:
          type: string
        conclusion:
          type: string
          nullable: true
        detailsUrl:
          type: string
          nullable: true
        externalId:
          type: string
          nullable: true
        startedAt:
          type: string
          nullable: true
        completedAt:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreateCommitStatusRequest:
      type: object
      required: [sha, context, state]
      properties:
        sha:
          type: string
          pattern: "^[0-9a-f]{40}$"
        context:
          type: string
          maxLength: 200
        state:
          type: string
          enum: [pending, success, failure, error]
        description:
          type: string
          nullable: true
        targetUrl:
          type: string
          format: uri
          nullable: true
        externalId:
          type: string
          nullable: true
    CreateCheckRunRequest:
      type: object
      required: [sha, name, status]
      properties:
        sha:
          type: string
          pattern: "^[0-9a-f]{40}$"
        name:
          type: string
          maxLength: 200
        status:
          type: string
          enum: [queued, in_progress, completed]
        conclusion:
          type: string
          enum: [success, failure, neutral, cancelled, timed_out, action_required]
          nullable: true
        detailsUrl:
          type: string
          format: uri
          nullable: true
        externalId:
          type: string
          nullable: true
        startedAt:
          type: string
          format: date-time
          nullable: true
        completedAt:
          type: string
          format: date-time
          nullable: true
    PullRequestDetail:
      type: object
      required: [pullRequest, reviews, events, statuses, checkRuns, commits, files]
      properties:
        pullRequest:
          $ref: "#/components/schemas/PullRequest"
        reviews:
          type: array
          items:
            $ref: "#/components/schemas/PullRequestReview"
        events:
          type: array
          items:
            type: object
            additionalProperties: true
        statuses:
          type: array
          items:
            $ref: "#/components/schemas/CommitStatus"
        checkRuns:
          type: array
          items:
            $ref: "#/components/schemas/CheckRun"
        commits:
          type: array
          items:
            type: object
            additionalProperties: true
        files:
          type: array
          items:
            type: object
            additionalProperties: true
        filteredFiles:
          type: array
          items:
            type: object
            additionalProperties: true
        diffStats:
          type: object
          additionalProperties: true
        diffTruncated:
          type: boolean
    PullRequestDiff:
      type: object
      additionalProperties: true
      properties:
        pullRequest:
          $ref: "#/components/schemas/PullRequest"
        sha:
          type: string
        base:
          type: string
        files:
          type: array
          items:
            type: object
            additionalProperties: true
        filteredFiles:
          type: array
          items:
            type: object
            additionalProperties: true
        diffStats:
          type: object
          additionalProperties: true
        diffTruncated:
          type: boolean
    MergeQueue:
      type: object
      required:
        - queueId
        - targetBranch
        - requiredContexts
        - requiredApprovalCount
        - timeoutSeconds
        - strategy
        - speculativeConcurrency
        - speculativeEnabled
        - batchingEnabled
        - batchMaxSize
        - batchIsolationStrategy
        - paused
        - enforced
        - webhookSecretConfigured
      properties:
        queueId:
          type: string
        targetBranch:
          type: string
        requiredContexts:
          type: array
          items:
            type: string
        requiredApprovalCount:
          type: integer
        timeoutSeconds:
          type: integer
        strategy:
          type: string
          enum: [rebase, squash]
        speculativeConcurrency:
          type: integer
        speculativeEnabled:
          type: boolean
        batchingEnabled:
          type: boolean
        batchMaxSize:
          type: integer
        batchIsolationStrategy:
          type: string
          enum: [full_parallel, bisection]
        paused:
          type: boolean
        enforced:
          type: boolean
        webhookUrl:
          type: string
          nullable: true
        webhookSecretConfigured:
          type: boolean
    ConfigureMergeQueueRequest:
      type: object
      required: [targetBranch]
      properties:
        targetBranch:
          type: string
        requiredContexts:
          type: array
          maxItems: 100
          default: []
          items:
            type: string
        requiredApprovalCount:
          type: integer
          minimum: 0
          maximum: 20
          default: 1
        timeoutSeconds:
          type: integer
          minimum: 60
          maximum: 86400
          default: 1800
        strategy:
          type: string
          enum: [rebase, squash]
          default: rebase
        speculativeConcurrency:
          type: integer
          minimum: 1
          maximum: 32
          default: 4
        speculativeEnabled:
          type: boolean
          default: false
        batchingEnabled:
          type: boolean
          default: false
        batchMaxSize:
          type: integer
          minimum: 1
          maximum: 32
          default: 4
        batchIsolationStrategy:
          type: string
          enum: [full_parallel, bisection]
          default: full_parallel
        paused:
          type: boolean
          default: false
        enforced:
          type: boolean
          default: true
        webhookUrl:
          type: string
          format: uri
          nullable: true
        webhookSecret:
          type: string
          nullable: true
    MergeQueueEntry:
      type: object
      required: [entryId, queueId, pullRequestId, selectedPullRequestIds, priority, fastTrack, status]
      properties:
        entryId:
          type: string
        queueId:
          type: string
        pullRequestId:
          type: string
        selectedPullRequestIds:
          type: array
          items:
            type: string
        priority:
          type: integer
        fastTrack:
          type: boolean
        status:
          type: string
        removalReason:
          type: string
          nullable: true
    EnqueuePullRequestRequest:
      type: object
      required: [pullRequestId]
      properties:
        pullRequestId:
          type: string
        throughPullRequestId:
          type: string
          nullable: true
        priority:
          type: integer
        fastTrack:
          type: boolean
          default: false
        stackMergeabilityBypass:
          type: boolean
          default: false
    MergeQueueAttempt:
      type: object
      required: [attemptId, queueId, entryId, candidateRef, candidateSha, baseSha, stackSnapshot, requiredContextsSnapshot, status]
      properties:
        attemptId:
          type: string
        queueId:
          type: string
        entryId:
          type: string
        candidateRef:
          type: string
        candidateSha:
          type: string
        baseSha:
          type: string
        stackSnapshot:
          type: array
          items:
            type: string
        requiredContextsSnapshot:
          type: array
          items:
            type: string
        leaseOwner:
          type: string
          nullable: true
        leaseUntil:
          type: string
          nullable: true
        status:
          type: string
        invalidationReason:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    MergeQueueEvent:
      type: object
      additionalProperties: true
      properties:
        eventId:
          type: string
        queueId:
          type: string
        entryId:
          type: string
          nullable: true
        attemptId:
          type: string
          nullable: true
        actor:
          type: string
        kind:
          type: string
        details:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
