openapi: 3.0.3
info:
  title: Final Virtual Machines API
  version: "1.0"
  description: REST API for Final Virtual Machines.
servers:
  - url: https://vm-api.final.ai
security:
  - bearerAuth: []
tags:
  - name: VMs
  - name: Execution
  - name: Files
  - name: Shares
  - name: Domains
  - name: Tokens
  - name: SSH keys
  - name: Regions
paths:
  /v1/vms:
    get:
      operationId: listVms
      tags: [VMs]
      summary: List VMs
      description: List VMs in the authenticated organization.
      responses:
        "200":
          description: VMs were returned.
          content:
            application/json:
              schema:
                type: object
                required: [vms]
                properties:
                  vms:
                    type: array
                    items:
                      $ref: "#/components/schemas/Vm"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createVm
      tags: [VMs]
      summary: Create a VM
      description: "Create a VM from a container image. Requests support `Idempotency-Key`; replayed responses include `Idempotency-Replayed: true`."
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVmRequest"
      responses:
        "200":
          description: VM was created.
          headers:
            Idempotency-Replayed:
              description: Present when an idempotent create response was replayed.
              schema:
                type: boolean
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VmEnvelope"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Error"
  /v1/vms/{idOrName}:
    parameters:
      - $ref: "#/components/parameters/IdOrName"
    get:
      operationId: getVm
      tags: [VMs]
      summary: Get a VM
      description: Get a VM by ID or live name.
      responses:
        "200":
          description: VM was returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VmEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      operationId: updateVm
      tags: [VMs]
      summary: Update a VM
      description: Update VM settings, resources, tags, and environment variables. Disk size is grow-only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateVmRequest"
      responses:
        "200":
          description: VM was updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VmEnvelope"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      operationId: deleteVm
      tags: [VMs]
      summary: Delete a VM
      description: Delete a VM by ID or name.
      responses:
        "200":
          description: VM was deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VmEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/vms/{idOrName}/actions/{action}:
    post:
      operationId: performVmAction
      tags: [VMs]
      summary: Perform a VM action
      description: Start, stop, pause, resume, restart, or delete a VM.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
        - name: action
          in: path
          required: true
          schema:
            type: string
            enum: [start, stop, pause, resume, restart, delete]
      responses:
        "200":
          description: Action was accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VmEnvelope"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
  /v1/vms/{idOrName}/visibility:
    patch:
      operationId: updateVmVisibility
      tags: [VMs]
      summary: Update VM visibility
      description: Toggle public HTTP access for a VM.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [httpPublic]
              properties:
                httpPublic:
                  type: boolean
      responses:
        "200":
          description: Visibility was updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VmEnvelope"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/vms/{idOrName}/exec:
    post:
      operationId: executeVmCommand
      tags: [Execution]
      summary: Execute a command
      description: Run a buffered command inside a VM.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecRequest"
      responses:
        "200":
          description: Command finished or returned buffered output.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecResult"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/vms/{idOrName}/exec/ws:
    get:
      operationId: streamVmCommand
      tags: [Execution]
      summary: Stream command execution
      description: "Open a WebSocket for streaming command execution. Browser clients can pass the bearer token as the `token` query parameter."
      parameters:
        - $ref: "#/components/parameters/IdOrName"
        - name: token
          in: query
          required: false
          schema:
            type: string
      responses:
        "101":
          description: WebSocket connection was accepted.
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/vms/{idOrName}/processes:
    get:
      operationId: listVmProcesses
      tags: [Execution]
      summary: List processes
      description: List processes captured inside a VM.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
      responses:
        "200":
          description: Processes were returned.
          content:
            application/json:
              schema:
                type: object
                required: [processes]
                properties:
                  processes:
                    type: array
                    items:
                      $ref: "#/components/schemas/VmProcess"
  /v1/vms/{idOrName}/files:
    get:
      operationId: readVmFile
      tags: [Files]
      summary: Read a file
      description: Read a file from a VM as base64 data.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
        - name: path
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: File data was returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileReadResult"
        "400":
          $ref: "#/components/responses/InvalidRequest"
    put:
      operationId: writeVmFile
      tags: [Files]
      summary: Write a file
      description: Write base64 data to a file inside a VM.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileWriteRequest"
      responses:
        "200":
          description: File was written.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileWriteResult"
        "400":
          $ref: "#/components/responses/InvalidRequest"
  /v1/vms/{idOrName}/events:
    get:
      operationId: listVmEvents
      tags: [VMs]
      summary: List VM events
      description: List recent events for a VM, newest first.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Events were returned.
          content:
            application/json:
              schema:
                type: object
                required: [events]
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/VmEvent"
  /v1/vms/{idOrName}/shares:
    get:
      operationId: listVmShares
      tags: [Shares]
      summary: List shares
      description: List shares for a VM.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
      responses:
        "200":
          description: Shares were returned.
          content:
            application/json:
              schema:
                type: object
                required: [shares]
                properties:
                  shares:
                    type: array
                    items:
                      $ref: "#/components/schemas/VmShare"
    post:
      operationId: createVmShare
      tags: [Shares]
      summary: Create a share
      description: Share VM access with a user, email address, team, or link.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateShareRequest"
      responses:
        "200":
          description: Share was created.
          content:
            application/json:
              schema:
                type: object
                required: [share]
                properties:
                  share:
                    $ref: "#/components/schemas/VmShare"
                  url:
                    type: string
                    nullable: true
                    description: Returned for link shares.
  /v1/vms/{idOrName}/shares/{shareId}:
    delete:
      operationId: deleteVmShare
      tags: [Shares]
      summary: Delete a share
      description: Remove a share from a VM.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
        - name: shareId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Ok"
  /v1/vms/{idOrName}/domains:
    get:
      operationId: listVmDomains
      tags: [Domains]
      summary: List custom domains
      description: List custom domains attached to a VM.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
      responses:
        "200":
          description: Domains were returned.
          content:
            application/json:
              schema:
                type: object
                required: [domains]
                properties:
                  domains:
                    type: array
                    items:
                      $ref: "#/components/schemas/VmDomain"
    post:
      operationId: addVmDomain
      tags: [Domains]
      summary: Add a custom domain
      description: Attach a custom domain to a VM. Final verifies DNS and issues the certificate automatically.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain:
                  type: string
                  example: preview.example.com
      responses:
        "200":
          description: Domain was created.
          content:
            application/json:
              schema:
                type: object
                required: [domain]
                properties:
                  domain:
                    $ref: "#/components/schemas/VmDomain"
                  instructions:
                    type: string
  /v1/vms/{idOrName}/domains/{domainId}:
    delete:
      operationId: deleteVmDomain
      tags: [Domains]
      summary: Delete a custom domain
      description: Remove a custom domain from a VM.
      parameters:
        - $ref: "#/components/parameters/IdOrName"
        - name: domainId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Ok"
  /v1/tokens:
    get:
      operationId: listVmTokens
      tags: [Tokens]
      summary: List tokens
      description: List VM bearer tokens for the authenticated organization.
      responses:
        "200":
          description: Tokens were returned.
          content:
            application/json:
              schema:
                type: object
                required: [tokens]
                properties:
                  tokens:
                    type: array
                    items:
                      $ref: "#/components/schemas/VmToken"
    post:
      operationId: createVmToken
      tags: [Tokens]
      summary: Create a token
      description: Create a VM bearer token. The plaintext token is returned once.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTokenRequest"
      responses:
        "200":
          description: Token was created.
          content:
            application/json:
              schema:
                type: object
                required: [token, id]
                properties:
                  token:
                    type: string
                    example: fvm1.payload.sig
                  id:
                    type: string
  /v1/tokens/{tokenId}:
    delete:
      operationId: revokeVmToken
      tags: [Tokens]
      summary: Revoke a token
      description: Revoke a VM bearer token.
      parameters:
        - name: tokenId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Ok"
  /v1/ssh-keys:
    get:
      operationId: listVmSshKeys
      tags: [SSH keys]
      summary: List SSH keys
      description: List SSH public keys for the authenticated organization.
      responses:
        "200":
          description: SSH keys were returned.
          content:
            application/json:
              schema:
                type: object
                required: [sshKeys]
                properties:
                  sshKeys:
                    type: array
                    items:
                      $ref: "#/components/schemas/SshKey"
    post:
      operationId: addVmSshKey
      tags: [SSH keys]
      summary: Add an SSH key
      description: Register an OpenSSH public key. Key writes require user context.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, publicKey]
              properties:
                name:
                  type: string
                publicKey:
                  type: string
                  example: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIB... laptop
      responses:
        "200":
          description: SSH key was registered.
          content:
            application/json:
              schema:
                type: object
                required: [sshKey]
                properties:
                  sshKey:
                    $ref: "#/components/schemas/SshKey"
        "403":
          $ref: "#/components/responses/Error"
  /v1/ssh-keys/{keyId}:
    delete:
      operationId: deleteVmSshKey
      tags: [SSH keys]
      summary: Delete an SSH key
      description: Delete an SSH public key. Key writes require user context.
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Ok"
  /v1/regions:
    get:
      operationId: listVmRegions
      tags: [Regions]
      summary: List regions
      description: List VM regions and their public domains.
      responses:
        "200":
          description: Regions were returned.
          content:
            application/json:
              schema:
                type: object
                required: [regions]
                properties:
                  regions:
                    type: array
                    items:
                      $ref: "#/components/schemas/VmRegion"
  /v1/exec:
    post:
      operationId: runVmCliCommand
      tags: [Execution]
      summary: Run a CLI command
      description: "Run a `final-vm` command through the command router. The body is a plain text command line. Responses are capped at 64 KB."
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              example: ls --json
      responses:
        "200":
          description: Command result was returned.
          content:
            application/json:
              schema:
                type: object
                required: [exitCode, output]
                properties:
                  exitCode:
                    type: integer
                  output:
                    type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Organization API key or VM bearer token.
  parameters:
    IdOrName:
      name: idOrName
      in: path
      required: true
      description: VM ID or live VM name.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Bearer token is missing or invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InvalidRequest:
      description: Request body or parameters are invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error:
      description: Request failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Ok:
      description: Operation succeeded.
      content:
        application/json:
          schema:
            type: object
            required: [ok]
            properties:
              ok:
                type: boolean
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
        issues:
          type: array
          items:
            type: object
            additionalProperties: true
    VmEnvelope:
      type: object
      required: [vm]
      properties:
        vm:
          $ref: "#/components/schemas/Vm"
    Vm:
      type: object
      required:
        - id
        - name
        - state
        - stateName
        - desiredState
        - image
        - vcpu
        - memoryMb
        - diskGb
        - httpPublic
        - ephemeral
        - autoResume
        - tags
        - hostname
        - sshCommand
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: wild-haddock
        state:
          type: integer
        stateName:
          type: string
          enum: [unknown, pending, creating, running, paused, stopped, resuming, migrating, error, deleted, shelved]
        desiredState:
          type: integer
        image:
          type: string
          example: "docker.io/library/node:22-slim"
        regionSlug:
          type: string
          nullable: true
          example: lax
        vcpu:
          type: integer
          example: 2
        memoryMb:
          type: integer
          example: 4096
        diskGb:
          type: integer
          example: 20
        httpPort:
          type: integer
          nullable: true
          example: 3000
        httpPublic:
          type: boolean
        sshShard:
          type: integer
          nullable: true
        ephemeral:
          type: boolean
        idleTimeoutSeconds:
          type: integer
          nullable: true
          example: 300
        autoResume:
          type: boolean
        tags:
          type: array
          items:
            type: string
        comment:
          type: string
          nullable: true
        errorMessage:
          type: string
          nullable: true
        hostname:
          type: string
          example: wild-haddock.virtual-machine.lax-2.athens.finalwebservices.com
        sshCommand:
          type: string
          example: ssh wild-haddock.virtual-machine.lax-2.athens.finalwebservices.com
        createdAt:
          type: string
          format: date-time
        lastActiveAt:
          type: string
          format: date-time
          nullable: true
    CreateVmRequest:
      type: object
      required: [image]
      properties:
        image:
          type: string
        name:
          type: string
        regionSlug:
          type: string
        vcpu:
          type: integer
          minimum: 1
        memoryMb:
          type: integer
          minimum: 1
        diskGb:
          type: integer
          minimum: 1
        env:
          type: object
          additionalProperties:
            type: string
        setupScript:
          type: string
          maxLength: 10240
        commandMode:
          type: integer
          enum: [1, 2, 3]
          description: "`1` auto, `2` none, `3` custom."
        customCommand:
          type: string
        httpPort:
          type: integer
          minimum: 1
          maximum: 65535
        httpPublic:
          type: boolean
        ephemeral:
          type: boolean
        idleTimeoutSeconds:
          type: integer
          minimum: 1
        autoResume:
          type: boolean
        registryCredentialId:
          type: string
          format: uuid
        tags:
          type: array
          items:
            type: string
        comment:
          type: string
    UpdateVmRequest:
      type: object
      properties:
        name:
          type: string
        vcpu:
          type: integer
          minimum: 1
        memoryMb:
          type: integer
          minimum: 1
        diskGb:
          type: integer
          minimum: 1
          description: Disk size is grow-only.
        httpPort:
          type: integer
          nullable: true
        httpPublic:
          type: boolean
        idleTimeoutSeconds:
          type: integer
          nullable: true
          minimum: 1
        autoResume:
          type: boolean
        tags:
          type: array
          items:
            type: string
        comment:
          type: string
          nullable: true
        env:
          type: object
          additionalProperties:
            type: string
    ExecRequest:
      type: object
      required: [command]
      properties:
        command:
          type: string
        env:
          type: object
          additionalProperties:
            type: string
        cwd:
          type: string
        user:
          type: string
        timeoutMs:
          type: integer
          minimum: 1
          maximum: 600000
    ExecResult:
      type: object
      required: [exitCode, stdout, stderr, truncated]
      properties:
        exitCode:
          type: integer
          nullable: true
        stdout:
          type: string
        stderr:
          type: string
        truncated:
          type: boolean
    VmProcess:
      type: object
      required: [pid, command]
      properties:
        pid:
          type: integer
        command:
          type: string
        args:
          type: array
          items:
            type: string
        env:
          type: object
          additionalProperties:
            type: string
        startedAtMs:
          type: integer
          nullable: true
    FileReadResult:
      type: object
      required: [dataB64, eof]
      properties:
        dataB64:
          type: string
          description: Base64-encoded file content.
        eof:
          type: boolean
    FileWriteRequest:
      type: object
      required: [path, dataB64]
      properties:
        path:
          type: string
        dataB64:
          type: string
          description: Base64-encoded file content.
        append:
          type: boolean
        mode:
          type: integer
          description: Optional file mode.
    FileWriteResult:
      type: object
      required: [bytesWritten]
      properties:
        bytesWritten:
          type: integer
    VmEvent:
      type: object
      required: [id, type, payload, createdAt]
      properties:
        id:
          type: string
        type:
          type: integer
        payload:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
    VmShare:
      type: object
      properties:
        id:
          type: string
        kind:
          type: string
          enum: [user, email, team, link]
        access:
          type: string
          enum: [http, full]
        userId:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        teamId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    CreateShareRequest:
      type: object
      required: [kind]
      properties:
        kind:
          type: string
          enum: [user, email, team, link]
        userId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        teamId:
          type: string
          format: uuid
        access:
          type: string
          enum: [http, full]
          default: http
    VmDomain:
      type: object
      properties:
        id:
          type: string
        domain:
          type: string
        status:
          type: string
          example: pending_dns
        lastError:
          type: string
          nullable: true
        certExpiresAt:
          type: string
          format: date-time
          nullable: true
    VmToken:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        vmId:
          type: string
          nullable: true
        scopes:
          type: array
          items:
            type: string
        expiresAt:
          type: string
          format: date-time
          nullable: true
        revokedAt:
          type: string
          format: date-time
          nullable: true
        lastUsedAt:
          type: string
          format: date-time
          nullable: true
    CreateTokenRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        vmId:
          type: string
          format: uuid
        scopes:
          type: array
          items:
            type: string
        expiresAt:
          type: string
          format: date-time
    SshKey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        fingerprint:
          type: string
          example: "SHA256:abc123"
        createdAt:
          type: string
          format: date-time
    VmRegion:
      type: object
      required: [slug, displayName, vmDomain, acceptingNewVms]
      properties:
        slug:
          type: string
          example: lax
        displayName:
          type: string
          example: Los Angeles
        vmDomain:
          type: string
        acceptingNewVms:
          type: boolean
